body { font-family: Georgia, Times, serif; font-size: 10pt; background: #fff; }

#container  { min-height:100%; position:relative; }
#logo {display:none;  width: 448px; height:71px; background-image: url(../pics/marcus_logo.png); background-repeat:no-repeat;}
.blogg
{
background-image: url('../pics/scroll.png');
background-repeat: no-repeat;
padding-left: 30px;  
padding-bottom:30px;
display: none; 
}
.hammer
{
background-image: url('../pics/hammer.png');
background-repeat: no-repeat;
padding-left: 35px;  
padding-bottom:30px;
display: none; 
}
.written{ text-align: right;}

#body {color:#000000; padding: 10px; padding-bottom: 60px;  width: 50%; background: #fff; margin-left: 8.2em;}
.extern a:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal; text-decoration: underline;}
#body a:link{color: #000000; text-decoration: underline;}
#body a:visited{color: #000000; text-decoration: underline;}
#body a:hover{color: #222222; text-decoration: underline;}
#header { padding:10px; background:#fff; color: #000;}

#menycontainer {float:left; background: #000; display:none;}
#menycontainer ul{width: 8em; margin: 0; padding: 0; border: 2px solid #025380;}
#menycontainer li:hover{background:#ffffff;}
#menycontainer li{list-style: none; }
#menycontainer ul a{font: verdana, helvetica, sans-serif;text-decoration:none; font-weight:bold; width: 120px;  text-align: center;  padding: 4px;    }
#menycontainer a:link{display: block; color: #000000;}
#menycontainer a:visited{display:block; color: #000000;}
#menycontainer ul li a:active{background: #ffffff;}
 

#footer {; position:absolute;  background: #fff; bottom:0; width: 100%; height:60px;}

.right {float: right;}
.table {background: #fff;}


.marcus-form
{
    margin-left:auto;  margin-right:auto; max-width: 500px; background: #fff; padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #000; border:1px solid #000; border-radius: 5px;
    
}

.marcus-form h1 {  font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 0px 0px 10px 40px;
display: block; border-bottom: 1px solid #FFF;  margin: -10px -30px 30px -30px; color: #000;}

.marcus-form h1>span { display: block; font-size: 11px;}
.marcus-form label {display: block; margin: 0px 0px 5px;}

.marcus-form label>span { float: left; width: 20%; text-align: right; padding-right: 10px; margin-top: 10px; color: #000;
font-family: "Helvetica neue", Helvetica, Arial, sans-serif; font-weight: bold;}

.marcus-form input[type="text"], .marcus-form input[type="email"], .marcus-form textarea, .marcus-form select{border: 1px solid #000;
    color: #000; height: 30px;  line-height:15px; margin-bottom: 0px; margin-right: 6px; margin-top: 2px;  outline: 0 none;
    padding: 5px 0px 5px 5px; width: 70%; border-radius: 3px;}

.marcus-form textarea{  height:100px; padding: 5px 0px 0px 5px;  width: 70%; border: 1px solid #000; border-radius: 3px;}

.marcus-form .submit { background: #fff; border: 1px solid #000; padding: 10px 25px 10px 25px; color: #000; border-radius: 4px; }
.marcus-form .submit:hover {  color: #333;background-color: #fff; border-color: #ADADAD;}
