body
{
    background-image: url(https://imagizer.imageshack.us/v2/857x643q90/718/fastmadebackgroundmarsw.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 195px;
    margin-right: 150px;
}


h1
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 3em;
    color: #222;
   
    
}
ul{list-style-type: none;}

.pics a
{
    
     font-family: 'Open Sans', sans-serif;
	background: #fff;
	display: inline;
	float: left;
	margin: 0 5px 8px;
	padding: 10px 20px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow:10px 12px 18px 0px rgba(37, 255, 255, 1);
	box-shadow:10px 12px 18px 0px rgba(37, 255, 255, 1);
	-webkit-transition: all .5s linear;
	transition: all .55s linear;
	z-index:0;
    position:relative;
    top: 80px;
    border: solid 1px #333;
}


.pics a:after 
{
	color: #222;
	font-size: 1.2em;
	content: attr(title);
	top: 8px;
}


.pics img 
{ 
   
	display: block;
	max-width:200px;
}


.pics li:nth-child(1n) a {-webkit-transform:rotate(30deg) scale(0.7,0.7);transform:rotate(30deg) scale(0.7,0.7);top:0px;left:60px;}
.pics li:nth-child(2n) a {-webkit-transform:rotate(-30deg) scale(0.7,0.7);transform:rotate(-30deg) scale(0.7,0.7);top:40px;left:80px;}
.pics li:nth-child(3n) a {-webkit-transform:rotate(40deg) scale(0.7,0.7);transform:rotate(40deg) scale(0.7,0.7);top:50px;left:-10px;}
.pics li:nth-child(4n) a {-webkit-transform:rotate(-30deg) scale(0.7,0.7);transform:rotate(-30deg) scale(0.7,0.7);top:0px;left:-10px;}
.pics li:nth-child(5n) a {-webkit-transform:rotate(-20deg) scale(0.8,0.8);transform:rotate(-20deg) scale(0.8,0.8);top:50px;left:20px}



.pics li:nth-child(n) a:hover {-webkit-transform:rotate(0deg) scale(1,1);transform:rotate(0deg) scale(1,1);}